body {
    background-color: whitesmoke;
}

.list {
    width: 100%;
    padding: 30px 15px;
    margin: 0 auto;
}

.list_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: white;
    margin: 0 auto 30px;
    padding: 10px 15px;
    border-radius: 8px;
}

.list_select form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list_table {
    background-color: white;
    padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;
}

.list_title {
    width: 70%;
    font-weight: 700;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 10px;
    line-height: 1.2;
    margin: 0 auto 20px;
    border-left: 5px solid black;
}

.list_body {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
}

.list_table th {
    font-weight: 600;
}

.list_table th,
.list_table td {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding: 14px 10px;
    text-align: center;
    font-size: 15px;
}

.list_item-content a {
    color: #5F2EEA;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .list,
    .list_title,
    .list_body,
    .list_table {
        width: 95%;
        padding: 10px 10px;
    }

    .list_title {
        font-size: 24px;
    }

    .list_select {
        width: 95%;
        padding: 10px 0;
    }

    .list_table th,
    .list_table td {
        font-size: 14px;
        padding: 8px;
    }

    .list_table th {
        width: auto;
    }
}