body {
    background-color: whitesmoke;
}

.detail {
    max-width: 1540px;
    width: 100%;
    padding: 30px 15px;
    margin: 0 auto;
}

.detail_title {
    width: 70%;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.detail_table {
    width: 70%;
    background-color: white;
    padding-bottom: 20px;
    margin: 0 auto;
}

.detail_body {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.detail_table th {
    text-align: left;
    width: 30%;
    padding-left: 30px;
}

.detail_table td {
    text-align: left;
    width: 20%;
    margin-right: 40px;
}

.detail_table th,
.detail_table td {
    border-top: 2px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 10px;
    padding-top: 10px;
}

.detail_button {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 15%;
    margin-top: 20px;
    padding: 5px 0px;

}