body {
    background-color: whitesmoke;
}

.list {
    max-width: 1540px;
    width: 100%;
    padding: 30px 15px;
    margin: 0 auto;
}

.list_select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: white;
    margin: 0 auto 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
}

.list_table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.list_title {
    width: 70%;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.list_body {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
}

.list_table th {
    text-align: center;
    padding: 12px;
    font-size: 14px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #e5e5e5;
}

.list_table td {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.list_item-content a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .list,
    .list_title,
    .list_body,
    .list_table {
        width: 95%;
        padding: 0 10px;
    }

    .list_select {
        width: 95%;
        padding: 10px 0;
    }

    .list_title {
        font-size: 24px;
    }

    .list_table th,
    .list_table td {
        font-size: 14px;
        padding: 8px;
    }

    .list_table th {
        width: auto;
    }
}