body {
    background-color: #f4f2f5;
    font-family: sans-serif;
}

.detail {
    max-width: 760px;
    width: 100%;
    padding: 30px 15px;
    margin: 0 auto;
}

.detail_title {
    font-weight: bold;
    font-size: 28px;
    padding-bottom: 20px;
    border-left: 5px solid black;
    padding: 0 10px 15px;
}

.detail_table {
    width: 100%;
    background-color: white;
    padding: 15px 0;
    border-radius: 12px;
}

.detail_table th,
.detail_table td {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.detail_table input[type="datetime"],
.detail_table textarea {
    width: 90px;
    height: 34px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 14px;
    text-align: center;
}

.detail_table textarea {
    width: 95%;
    height: 60px;
    resize: none;
    margin: 0 auto;
    display: block;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    text-align: left;
}

.detail_table input:focus,
.detail_table textarea:focus {
    outline: none;
    border-color: #D9D9D9;
}

.date-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.date-row div {
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.detail_comment {
    margin-top: 10px;
}

.detail_comment-item {
    color: #ff0000a0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    float: right;
}

.button {
    margin-top: 20px;
    text-align: right;
}

.detail_button {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    margin-bottom: 40px;
}

.detail_button:hover {
    opacity: 0.9;
}

/* モバイル対応 */
@media screen and (max-width: 768px) {
    .detail {
        max-width: 95%;
        padding: 20px 10px;
    }

    .detail_title {
        font-size: 18px;
        padding-left: 8px;
    }

    detail_table {
        padding: 15px 0;
        width: 100%;
        }

    .detail_table th,
    .detail_table td {
        font-size: 12px;
        padding: 10px;
    }

    .detail_table input[type="text"],
    .detail_table input[type="time"] {
        width: 60px;
        font-size: 12px;
    }
    .detail_table textarea {
        width: 100%;
        font-size: 12px;
    }

    .detail_button {
        width: auto;
        float: right;
        margin-top: 15px;
        padding: 8px 30px;
        font-size: 14px;
        }

    .button {
        text-align: center;
    }

    .date-row div {
        font-size: 14px;
    }
}