.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1540px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.coachtech__img {
    width: 150px;
}

.header-utilities nav {
    margin-left: auto;
}

.header-nav {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav__item {
    background: none;
    color: #fff;
}

.header-nav__button-logout,
.header-nav__button-login,
.header-nav__button-mypage,
.header-nav__button-sell {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}